hr.post-snippet-divider {
	border: 1px solid var(--hr-color);
	border-width: 1px;
	box-sizing: content-box;
	height: 0;
	overflow: visible;
	font-size: 1rem;
	background: none;
}

.post-snippet-title {
	margin-top: 3%;
}
