@media screen and (min-width: 768px) {
	nav.table-of-contents {
		float: right;
		width: 40%;
		margin-left: 1.5%;
		margin-bottom: 1.5%;
		padding: 1.5%;
		box-shadow: 0 1px 2px 0
			rgba(34, 36, 38, var(--layout-box-shadow-amount));
		background-color: var(--table-of-contents-background-color);
	}
}

.toc-heading {
	padding-bottom: 1.5%;
	font-size: 90%;
}

.toc-list {
	padding-left: calc(3% + 1em);
	font-size: 75%;
}
