.blog-header {
	font-family: 'Montserrat', sans-serif;
	margin-top: 0;
	margin-bottom: 3%;
	font-size: 3rem;
}

.blog-header a {
	box-shadow: none;
	text-decoration: none;
	color: inherit;
}

.blog-header a:focus {
	outline: 2px dashed var(--theme-color);
	color: var(--theme-color);
}

.blog-header a:hover {
	box-shadow: none;
	color: var(--theme-color);
	text-decoration: none;
	font-style: initial;
}

@media screen and (max-width: 599px) {
	.blog-header {
		text-align: center;
	}
}
