.blog-header {
	font-family: 'Lato', sans-serif;
	margin-top: 0;
	margin-bottom: 3%;
}

.blog-header a {
	box-shadow: none;
	text-decoration: none;
	color: inherit;
}

.blog-header a:hover {
	box-shadow: none;
	text-decoration: none;
	color: var(--link-color);
	font-style: initial;
}
