#footnotes {
	margin-bottom: 3%;
}

span.footnote-pipe {
	margin-left: 1.5%;
	margin-right: 1.5%;
}

a.back-to-reference-arrow {
	color: var(--theme-color);
	text-decoration: none;
	border-color: rgba(0, 0, 0, 0);
}

a.back-to-reference-arrow:hover {
	color: var(--theme-color-link-effect);
}

a.back-to-reference-arrow:focus {
	color: var(--theme-color-link-effect);
	outline: 2px dashed var(--theme-color-focus-outline);
}

a.footnote-reference sup {
	font-size: 85%;
	font-family: var(--body-font), sans-serif;
}

a.footnote-reference {
	color: var(--link-color);
}

a.footnote-reference:hover {
	color: var(--link-effect-color);
}

a.footnote-reference:focus {
	color: var(--link-effect-color);
	outline: 2px dashed var(--link-focus-outline-color);
}
