pre.codeblock {
	background-color: black;
	font-family: var(--monospace-font), monospace;
	overflow: auto;
	tab-size: 4;
	speak-as: literal-punctuation;
	white-space: pre;
	display: inline-block;
    min-width: 100%;
    font-size: 15px;
    margin-bottom: 0;
    line-height: 2.15;
}
pre.codeblock div.token-line {
	min-width: 100%;
}

pre.codeblock span.line-number {
	display: inline-block;
	color: #777;
	width: 2em;
	user-select: none;
	margin-left: 20px;
	margin-right: 20px;
	border-right: 1px solid var(--codeblock-line-number-border);
}

pre.codeblock span.no-line-numbers {
	margin-right: 20px;
}

pre.codeblock span.terminal-working-directory {
    color: #888888;
    user-select: none;
    font-style: italic;
    padding-right: 5px;
}

pre.codeblock span.terminal-prompt {
    color: #8a8a8a;
    user-select: none;
    font-weight: bold;
}

pre.codeblock.language-console div.token-line :not(.terminal-prompt) + span.token.plain:empty::after,
pre.codeblock.language-shell div.token-line :not(.terminal-prompt) + span.token.plain:empty::after {
    content: ' ';
}

pre.codeblock .highlight-line {
	background-color: var(--codeblock-highlighted-line);
	box-shadow: inset var(--codeblock-highlighted-line-indicator-width) 0 0 0
		var(--theme-color);
	border-right: 1px solid black;
}

pre.codeblock div.codeblock-title-wrapper {
	position: absolute;
	overflow-y: visible;
}

div.codeblock-title {
	color: var(--text-color);
	background-color: var(--table-of-contents-background-color);
	box-shadow: 1px 0px 2px 0 rgba(34, 36, 38, var(--layout-box-shadow-amount));
	width: fit-content;
	padding: 0px 20px;
	font-weight: bold;
	margin-left: 0;
	font-family: var(--monospace-font), monospace;
	font-size: 14px;
	border-top-right-radius: 0.25rem;
}

@media screen and (max-width: 768px) {
	pre.codeblock {
		overflow-x: scroll;
        white-space: pre !important;
        overflow-wrap: normal;
	}

	pre.codeblock div.token-line {
		width: 100% !important;
	}
}

section.post-contents pre.codeblock + p {
    margin-top: 1.5%;
}