div.placeholder-contrast-checker {
    --placeholder-contrast-checker-separator-color: rgba(119, 119, 119, 0.25);
}

.dark-mode div.placeholder-contrast-checker {
    --placeholder-contrast-checker-separator-color: rgba(119, 119, 119, 0.5);
}

div.placeholder-contrast-checker--sliders {
    font-family: 'Montserrat', sans-serif;
}

div.placeholder-contrast-checker--demo {
    text-align: center;
}

div.placeholder-contrast-checker--demo--input {
    display: block;
    width: 75%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    background-clip: padding-box;
    border: 1px solid #aeb4ba;
    border-radius: .25rem;
    font-family: 'Montserrat', sans-serif;
    margin: 2em auto;
}

div.placeholder-contrast-checker--results {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    display: flex;
}

div.placeholder-contrast-checker--ratio {
    font-family: 'Montserrat', sans-serif;
    font-size: 300%;
    line-height: 100%;
}

div.placeholder-contrast-checker--result--background-comparison {
    width: 33%;
}

div.placeholder-contrast-checker--result--background-comparison:not(:nth-child(1)) {
    border-left: 1px solid var(--placeholder-contrast-checker-separator-color);
}

div.placeholder-contrast-checker--result--background-comparison b {
    font-size: smaller;
    line-height: 150%;
    display: block;
}

@media screen and (min-width: 768px) {
    div.placeholder-contrast-checker--sliders {
        display: flex;
    }

    div.placeholder-contrast-checker--sliders .color-input {
        width: 33%;
    }

    div.placeholder-contrast-checker--sliders .color-input:not(:nth-child(1)) {
        border-left: 1px solid var(--placeholder-contrast-checker-separator-color);
        padding-left: 1em;
    }
}

@media screen and (max-width: 768px) {
	div.placeholder-contrast-checker--sliders .color-input {
        width: 80%;
        margin-bottom: 5%;
    }

    div.placeholder-contrast-checker--demo--input {
        width: 100%;
    }
}