blockquote {
	border-left: 0px;
}

section.post-contents blockquote p.quote-contents {
	border-left: 0.25rem solid var(--blockquote-indicator-color);
	padding-left: 3%;
	color: var(--text-color);
	line-height: 2em;
	font-size: 85%;
	margin-left: 9%;
	margin-bottom: 1.5%;
}

section.post-contents blockquote p.quote-contents p {
	padding-left: 0%;
}

cite.quote-attribution {
	color: var(--text-color);
	font-style: normal;
	padding-left: 6%;
}

cite.quote-attribution::before {
	content: '—';
}

blockquote p.quote-contents i {
	font-style: normal;
}
