div.side-by-side {
    width: 90%;
    margin: 0px auto;
}

@media screen and (min-width: 768px) {
	div.side-by-side {
        display: flex;
    }

    div.side-by-side--left, div.side-by-side--right {
        flex: 49%;
    }

    div.side-by-side--left {
        border: 1px solid tomato;
        margin-right: 1%;
    }

    div.side-by-side--right {
        border: 1px solid turquoise;
        margin-left: 1%;
    }
}


@media screen and (max-width: 768px) {
    div.side-by-side--left {
        border: 1px solid greenyellow;
        margin-bottom: 3%;
    }

    div.side-by-side--right {
        border: 1px solid pink;
        margin-top: 3%;
    }
}
