/* CSS CUSTOM PROPERTIES */
:root {
	--background-color: #f0f0f0;
	/* --background-color: #212121; */
	--blockquote-indicator-color: rgba(131, 52, 255, 0.9);
	--heading-color: black;
	--hr-color: rgba(0, 0, 0, 0.07);
	--layout-background-color: #fcfcfc;
	--layout-box-shadow-amount: 0.35;
	--link-color: #f31455;
	--link-effect-color: #c40038;
	--link-focus-outline-color: rgba(196, 0, 56, 0.5);
	--table-of-contents-background-color: white;
	--text-color: black;
}

[data-theme='dark'] {
	--background-color: #212121;
	--heading-color: white;
	--hr-color: rgba(255, 255, 255, 0.07);
	--layout-background-color: #3f3f3f;
	--layout-box-shadow-amount: 0.65;
	--table-of-contents-background-color: #333;
	--text-color: #d8d8d8;
}

/* OKAY, NOW THE ACTUAL STYLING */
.layout {
	background-color: var(--layout-background-color);
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 1px 2px 0 rgba(34, 36, 38, var(--layout-box-shadow-amount));
	color: var(--text-color);
	transition: background-color 0.5s ease-in, color 0.5s ease-in;
}

body {
	background-color: var(--background-color);
	font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	transition: background-color 0.5s ease-in;
}

.screenreader {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--heading-color);
	font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
}

a {
	color: var(--link-color);
	font-weight: bold;
	text-decoration: none !important;
}

a:hover {
	box-shadow: 0 1px 0 0 currentColor;
	color: var(--link-effect-color);
}

a:focus {
	outline: 2px dashed var(--link-focus-outline-color);
	color: var(--link-effect-color);
}
