/* CSS CUSTOM PROPERTIES */
:root {
	--background-color: #f0f0f0;
	/* --background-color: #212121; */
	--blockquote-indicator-color: #f31455;
	--heading-color: black;
	--highlight-yellow: #f4e62c;
	--hr-color: rgba(0, 0, 0, 0.07);
	--layout-background-color: #fcfcfc;
	--layout-box-shadow-amount: 0.35;
	--link-color: #229abf;
	--link-effect-color: #0580a6;
	--link-focus-outline-color: rgba(5, 128, 166, 0.5);
	--table-of-contents-background-color: white;
	--text-color: black;
	--theme-color: #f31455;
	--theme-color-focus-outline: rgba(191, 15, 65, 0.5);
	--theme-color-link-effect: #bf0f41;
}

body.dark-mode {
	--background-color: #212121;
	--heading-color: white;
	--hr-color: rgba(255, 255, 255, 0.07);
	--layout-background-color: #3f3f3f;
	--layout-box-shadow-amount: 0.65;
	--table-of-contents-background-color: #333;
	--text-color: #d8d8d8;
}

/* OKAY, NOW THE ACTUAL STYLING */
.layout {
	background-color: var(--layout-background-color);
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 1px 2px 0 rgba(34, 36, 38, var(--layout-box-shadow-amount));
	color: var(--text-color);
	transition: background-color 0.5s ease-in, color 0.5s ease-in;
}

body {
	background-color: var(--background-color);
	font-family: 'Roboto Slab', serif;
	transition: background-color 0.5s ease-in;
}

.screenreader {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--heading-color);
	font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
}

a {
	color: var(--link-color);
	font-weight: bold;
	text-decoration: none;
	box-shadow: none;
}

a:hover {
	text-decoration: underline;
	color: var(--link-effect-color);
}

a:focus {
	outline: 2px dashed var(--link-focus-outline-color);
	color: var(--link-effect-color);
}

footer.copyright {
	padding-top: 1.5%;
	text-align: center;
	font-style: italic;
	font-size: 90%;
}
