section.post-contents {
	font-family: 'Roboto Slab', serif;
	line-height: 2;
}

section.post-contents p {
	margin-top: 3%;
}

section.post-contents p {
	padding-left: 3%;
	padding-right: 3%;
}

section.post-contents h2,
section.post-contents h3,
section.post-contents h4,
section.post-contents h5,
section.post-contents h6 {
	font-family: 'Montserrat';
	padding-left: 3%;
	padding-right: 3%;
	text-transform: none;
}

section.post-contents h3,
section.post-contents h4,
section.post-contents h5,
section.post-contents h6 {
	font-weight: bold;
}

section.post-contents ol,
section.post-contents ul {
	padding-left: calc(3% + 1em);
	padding-right: 3%;
}

section.post-contents a.anchor {
	margin-right: 1.5%;
	font-size: 1rem;
	color: var(--text-color);
	box-shadow: none;
	display: block;
	float: left;
}

@media screen and (max-width: 419px) {
	section.post-contents a.anchor {
		margin-left: -9%;
		margin-top: 1.5%;
	}
}

@media screen and (min-width: 420px) {
	section.post-contents a.anchor {
		margin-left: -6%;
		margin-top: 1%;
	}
}

@media screen and (min-width: 600px) {
	section.post-contents a.anchor {
		margin-left: -4%;
		margin-top: 0.5%;
	}
}

section.post-contents div.heading-contents {
	display: inline-block;
}

section.post-contents a.anchor.anchor-show:hover,
section.post-contents a.anchor.anchor-show:focus {
	color: var(--link-color);
}

section.post-contents a.anchor.anchor-hide {
	color: rgba(0, 0, 0, 0);
}

section.post-contents em i {
	font-style: normal;
}

section.post-contents hr {
	background-color: var(--text-color);
	opacity: 0.1;
}
